$bg-color: #101010;

$primary-text: #fff;
$secundary-text: rgba(255,255,255, .7);
$discrete-text: rgba(255,255,255,.54);
$light-discrete-text: rgba(0,0,0,.54);

$red: #FF3434;
$orange: #FF9534;
$green: #9AFF34;
$cyan: #34FFDA;
$purple: #343CFF;
$pink: #B75AFF;
$light-gray: #FAFAFA;